.form__label {
max-width: 160px;
  width: 70%;
  padding: 0;
  margin: 0px;
}

.form__labelText {
  display: inline-block;
  width: 100%;
  max-width: 140px;
  margin-right: 0px;
  font-weight: 700;
  margin-left: 20px;
}

.form__labelText--currency {
  display:inline;
  margin: 10px;
  padding: 10px;
  font-weight: 700;
}

.form__field {
  border: 1px solid black;
  padding: 14px;
  margin: 20px;
  margin-right: 0;
  width: 140px;
  max-width: 80%;
}

.form__field--green {
  background-color: #ffffff;
}

.form__field--textArea {
  resize: vertical;
  min-height: 100px;
  padding: 10px;
  margin: 0px;
}

.form__fieldset {
  border: 1px solid black;
  background-color: #99e8fc;
  width: 600px;
  max-width: 80%;
  font-size: 20px;
  padding: 20px;
  border-radius: 4px;
  margin: 20px;
}

.form__legend {
  background-color: #2a3a4c;
  font-size: 26px;
  color: #ffffff;
  border-radius: 4px;
  padding: 20px;
}

.form__select--currency {
  padding: 13px;
  margin: 0 0 10px 0px;
}