.form {
  margin: 0;
  padding: 0;
}

.form__label {
max-width: 120px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.form__labelText {
  display: inline-block;
  width: 100%;
  max-width: 120px;
  font-weight: 700;
  margin: 10px;
  padding: 0;
 
}

.form__labelText--currency {
  display:inline;
  margin: 0;
  padding: 10px;
  font-weight: 700;
}

.form__field {
  border: 1px solid black;
  padding: 11px;
  margin: 10px;
  margin-right: 0;
  width: 60%;
  max-width: 142px;
  border-radius: 4px;
  
}

.form__field--green {
  background-color: #ffffff;
}

.form__field--textArea {
  resize: vertical;
  min-height: 100px;
  padding: 10px;
  margin: 0;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form__legend {
  background-color: #2a3a4c;
  font-size: 22px;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px;
  margin: 20px;
}

.form__select--currency {
  padding: 10px;
  margin: 0 0 6px 2px;
  border-radius: 4px;
}