html {
  box-sizing: border-box;
}

*,
::after,
::befor {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  background-image: url(../images/converter-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}
