html {
  box-sizing: border-box;
}

*,
::after,
::befor {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  width: 90%;
  background-image: url("../images/converter-logo-blue.png");
  background-repeat: no-repeat;
  justify-content: center;
}
.header {
  width: 80%;
  text-align: center;
  margin: 30px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}
